@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.clear-margin {
    margin: 0px;
    padding: 0px;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}

.title {
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

label {
    font-size: 15px;
    color: gray;
}
