.clear-margin {
    margin: 0px;
    padding: 0px;
}

.article-preview {
    margin-bottom: 10px;
    margin-top: 10px;
}

.title > h1 {
    margin-top: 40px;
}

.articles {
    max-width: 80%;
    margin-right: 0px;
    float: right;
}

.shortcuts {
    position: sticky;
    top: 0;
    width: 20%;
    float: right;
}

.shortcuts > .shortcut-item {
    width: 70%;
    margin: auto;
}