@import url('https://fonts.googleapis.com/css?family=Rancho&effect=3d-float');

.navbar {
    min-height: 80px;
    background-color: whitesmoke;
}

.icons-header {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 2px;
}

.header-brand {
    margin-left: 100px;
}

.shadow-header {
    min-height: 2px;
    width: 98%;
    margin: 0 auto;
    box-shadow: 5px 10px 8px #888888;
}

.personal-name {
    font-family: 'Rancho';
    font-size: 30px;
    color: black;
}