.footer {
    padding-bottom: 10px;
    background-color: whitesmoke;
    border-bottom-color: black;
    border-style: solid;
    border-top: 0px; 
    border-left: 0px;
    border-right: 0px;
}

.shadow-footer {
    min-height: 2px;
    width: 98%;
    margin: 0 auto;
    box-shadow: 5px 10px 8px #888888;
    padding: 0px;
}

.footer-content {
    padding-top: 30px;
    margin-top: 20px;
}

.empty-footer {
    background-color: black;
    min-height: 2px;
}