.content {
    max-width: 80%;
    min-width: 80%;
    margin-right: 0px;
    margin-bottom: 40px;
    min-height: 70vh;
}

.shortcuts {
    position: sticky;
    top: 0;
    width: 20%;
    float: right;
    margin-top: 30px;
}

.shortcuts > .shortcut-item {
    width: 70%;
    margin: auto;
}